* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #8600C4;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.slider {
    position: relative;
    width: 600px; 
    height: 500px; 
    margin: 0 auto; 
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

#gallery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap; /* <- ESSENCIAL PARA FUNCIONAR COMO SLIDER */
    transition: transform 0.5s ease;
}


.slider {
    position: relative;
    width: 600px; 
    height: 500px; 
    margin: 50px auto;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.card {
    flex: 0 0 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7604ab;
    text-align: center;
    border-radius: 10px 10px 0 0
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

p {
    color: #fff;
    margin: 10px 0;
    font-size: 14px;
}